body {
    font-size: 19px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group > label {
    width: 150px;
    text-align: right;
}

.form-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-control {
    display: none;
}

.buttons {
    margin-left: 150px;
}

label {
    display: flex;
    justify-content: left;
    margin: 0;
}